<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>This is Homepage 10+20</h1>
    <h2> <%= 10+20 %></h2>
    <h2> <%= "Codingndevelopment".toUpperCase(); %></h2>
    <h2> <%= ["mahesh","rajesh","mukesh"][0] %></h2>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem maiores, maxime, rem delectus cupiditate esse sapiente et nesciunt, libero dolorem quod assumenda! Distinctio possimus eum a aspernatur dignissimos? Animi, a!</p>
    <button>click me</button>
</body>
</html>