<%- include("includes/head.ejs") %>
<body>
    <h1>Dice give value:
        <%= diceVal %>
    </h1>
        <% if(diceVal==6)  {%>
        <li>congruatulatins! you got <%= diceVal%> Roll the dice again</h1>
        <%}%>
        
</body>
</html>
